<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/static/style/reg.css">
	<link rel="shortcut icon" href="/static/imges/LOGO.png" type="image/png">
</head>
<body>
	<div class="con">
		<div class="f">
			<form action="" method="POST">
		<input type="text" placeholder="Имя магазина">
		<input type="text" placeholder="Описание">
		<input type="text" placeholder="Тип">
		<input type="text" placeholder="Сайт если есть">
		<input type="text" placeholder="Facebook если есть">
		<input type="text" placeholder="Instagram если есть">
		<label>Файл logo</label><br>
		<input type="file" name="filedata" /><br><br>
		<input type="submit" value="Send" />
	</form> 
		</div>
	</div>
</body>
</html>