<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<input type="text" placeholder="Имя магазина">
	<input type="text" placeholder="Описание">
	<input type="text" placeholder="Тип">
	<input type="text" placeholder="Сайт если есть">
	<input type="text" placeholder="Facebook если есть">
	<input type="text" placeholder="Instagram если есть">
	<label>Файл logo</label><br>
	<input type="file" name="filedata" /><br><br>
	<input type="submit" value="Send" />
</body>
</html>