<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/static/style/PP.css">
</head>
<body>
	<div class="con">
		<header>
			if av
				<h1></h1>
			else
				<a href="http://45.67.57.219:3000/av">Войти</a>
		</header>
		<main>
			each val in shops
				div(class="shop")
					a(href="shop/"+val['id'])=val['name_shop']
		</main>
		
			
		
	</div>
</body>
</html>