<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Авторизация</title>
	<link rel="stylesheet" href="/static/style/index.css">
	<link rel="shortcut icon" href="/static/imges/LOGO.png" type="image/png">
</head>
<body>
	<div class="con">
		<div class="logo">
			<div class="l"></div>
		</div>
		<div class="f">
			<div class="form">
				<h1>ВХОД</h1>
				<form action="" method="POST">
					<input type="email" placeholder="  email" autocomplete="off" required>
					<input type="password" placeholder="  ПАРОЛЬ" autocomplete="off" required>
					<input type="submit" value="ok">
				</form>
			</div>
		</div>
		
	</div>
</body>
</html>