
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>#{login}</h1>
	<a href="http://45.67.57.219:3000/AddShop">Добавить новый мгазин</a>
	<ul>
		each val in shops
			a(href=val['name_shop'])=val['name_shop']
	</ul>
</body>
</html>