<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/static/style/s.css">
</head>
<body>
  <div class="con">
    <header>
      <h1>#{name}</h1>
    </header>
    <main>
      <h1>Описание</h1>
      <p>#{product['description']}</p>
      <p>#{product['id']}</p>
    </main>
  </div>
</body>
</html>