<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/static/style/reg.css">
	<link rel="shortcut icon" href="/static/imges/LOGO.png" type="image/png">
</head>
<body>
	<div class="con">
		<div class="f">
			<form action="" method="POST">
				<input type="text" placeholder="Фамилия" autocomplete="off" name="surname">
				<input type="text" placeholder="Имя" autocomplete="off" name="name">
				<input type="text" placeholder="Отчество" autocomplete="off" name="t_name">
				<input type="text" placeholder="Email" name="email">
				<input type="tel" placeholder="Телефон" name="tel">
				<input type="date" placeholder="Дата рождения" name="date">
				<label for="m">Мужчина</label>
				<input type="radio" id="m" name="gender" value="m">
				<label for="f">Женщина</label>
				<input type="radio" id="f" name="gender" value="f">
				<input type="password" placeholder="Пароль" autocomplete="off" name="password">
				<input type="submit"  name="button">
				<p>#{data}</p>
			</form>
		</div>
	</div>
</body>
</html>