<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/static/style/reg.css">
	<link rel="shortcut icon" href="/static/imges/LOGO.png" type="image/png">
</head>
<body>
	<div class="con">
		<div class="f">
			<form action="" method="POST">
				<input type="text" placeholder="Фамилия" autocomplete="off" name="surname">
				<input type="text" placeholder="Имя" autocomplete="off" name="name">
				<input type="text" placeholder="Отчество" autocomplete="off" name="t_name">
				<input type="text" placeholder="Email" autocomplete="off" name="Email">
				<input type="text" placeholder="Телефон" autocomplete="off" name="phone">
				<input type="date" placeholder="Дата рождения" autocomplete="off" name="date">
				<ul>
					<li>
						<input type="radio" name="name" id="one" checked />
						<label for="one">Option #1</label>
						<div class="check"></div>
					</li>
					<li>
						<input type="radio" name="name" id="two" />
						<label for="two">Option #2</label>
						<div class="check"></div>
					</li>
				</ul>
				<input type="text" placeholder="Пароль" autocomplete="off" name="password">
			</form>
		</div>
	</div>
</body>
</html>