<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="s.css">
</head>
<body>
	<div class="con">
		<header>
			<h1>#{name}</h1>
			<a href="">Добавить продукт</a>
			<a href="">ДПосмотреть статистику магазина</a>
		</header>
		<main>
			
		</main>
	</div>
</body>
</html>