<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/static/style/s.css">
</head>
<body>
	<div class="con">
		<header>
			<h1>Всего заходов: #{V['COUNT(*)']}</h1>
		</header>
		<main>
			each val in D
				div(class="product")
					span=val['date'] : val['COUNT(*)']
		</main>
	</div>
</body>
</html>