<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/static/style/s.css">
</head>
<body>
	<div class="con">
		<header>
			each val in V
				<h1>Всего заходов: #{val['COUNT(*)']}</h1>
		</header>
		<main>
			each val in D
				div(class="d")
					<span>#{val['date']} : #{val['COUNT(*)']}<span>
		</main>
	</div>
</body>
</html>