@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
body{
	padding: 0;
	margin: 0;
	bottom: 0;
}
.con{
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 700px;
}
.logo{
	grid-column: 1;
	background: url('/static/imges/LOGO.png');
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}
.form{
	width: 514px;
}
.f{
	grid-column: 2;
	box-shadow: -19px 0px 38px -16px rgba(0,0,0,0.55);
	display: flex;
	justify-content: center;
	align-items: center;
}
form{

	color: #fff;
}
p{
	color:red;
	text-align: center;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-size: 80px;
	font-family: 'Open Sans', sans-serif;
	color: #E66400;
	text-align: center;
}
input{
	box-sizing: padding-box;
	padding: 5px;
	width: 100%;
	border-radius: 15px;
	display: block;
	font-size: 28px;
	height: 40px;
	margin: 45px 0;
	border: 1px solid #E66400;
}
input[type="submit"]{
	padding: 0px;
	height: 40px;
	background: #E66400;
	color: #fff;
}
input:focus{
outline: none;
}
input:required:invalid {
        background: #fae1e1;
    }
input:required:valid {
        background: #e2fae1;
    }
a{
	width: 100%;
	text-decoration: none;
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
	color: #E66400;
	text-align: center;
}