body{
	margin: 0;
	padding: 0;
}
.con{
	width: 100%;
	height: 100vh;
	background: #E66400;
}
.f{
	position: absolute;
    left: 117px;
    top: 117px;
    bottom: 117px;
    right: 117px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
	width: 70%;
    height: 70%;
}
input[type=radio] {
	width: 0;
	height: 0;
	visibility: hidden;
}
label { 
	color: #707070;
	cursor: pointer; 
}
input{
	width: 100%;
    margin: 10px;
    font-size: 18pt;
}
label ~ input[type=radio]:checked{
	color: #E66400;
}